<form>

    <input
        name="firstName"
        placeholder="First Name"/>

    <input
        name="lastName"
        placeholder="Last Name"/>

    <button type="submit">SAVE</button>

    <button id="wt-reset-list" type="button">RESET LIST</button>

</form>

<ul>

</ul>
