<form
    action="/users/edit"
    method="post">

    <input
        name="firstName"
        placeholder="First Name"/>

    <input
        name="lastName"
        placeholder="Last Name"/>

    <button type="submit">SAVE</button>

</form>

<ul>
    {{#each userList as |user|}}
    <li>
        <span class="wt-first-name">{{user.firstName}}</span>
        <span class="wt-last-name">{{user.lastName}}</span>
    </li>
    {{/each}}
</ul>
