<form
    action="/users/edit"
    method="post">

    <input
        name="firstName"
        placeholder="First Name"
        value="{{firstName}}"/>

    <input
        name="lastName"
        placeholder="Last Name"
        value="{{lastName}}"/>

    <button type="submit">SAVE</button>

</form>

<div>
    <span class="wt-first-name">{{firstName}}</span>
    <span class="wt-last-name">{{lastName}}</span>
</div>
